@page "/upload"
<div id="my-iframe"></div>

@*Seperate blob storage to upload document files*@
<iframe src="https://rijsatfileuploadazurestorage20230917204437.azurewebsites.net/"></iframe>

@code {

}
