@inherits LayoutComponentBase

<PageTitle>Contoso ChatBot Center</PageTitle>

<div class="page">
@*    <div class="sidebar">
        <NavMenu />
    </div>
 *@
    <main>
    @*
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>
    *@
        <article style="align-content:start" class="content px-4">
            @Body
        </article>
    </main>
</div>
